/* NullStyle */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

header, nav, aside, footer {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* --- */
body {
  font-family: Arial, "Helvetica-Neue", Helvetica, sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main {
  background-color: #9f7f63;
  padding: 50px 0;
}
@media (max-width: 767px) {
  .main {
    padding: 20px 0;
  }
}
.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__body {
  color: #fff;
  padding-right: 30px;
}
.main__title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  margin: 0px 0px 38px 0px;
}
@media (max-width: 767px) {
  .main__title {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .main__title {
    font-size: 35px;
  }
}
.main__list li {
  background: url("../../images/icons/icon.png") 0 1px no-repeat;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 22px;
  padding-left: 35px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .main__list li {
    background: url("../../images/icons/icon.png") 10px 1px no-repeat;
    padding-left: 45px;
  }
}
.main__list li:last-child {
  margin: 0;
}
.main__image {
  max-width: 600px;
}
@media (max-width: 767px) {
  .main__image {
    display: none;
  }
}
.main__image img {
  max-width: 100%;
}

.title {
  color: #684a39;
  font-size: 30px;
  line-height: 36px;
}

.history {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .history {
    padding: 20px 0;
  }
}
.history__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .history__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.history__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}
@media (max-width: 767px) {
  .history__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }
}
.history__image img {
  max-width: 100%;
}
.history__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 38px;
}
@media (max-width: 767px) {
  .history__body {
    padding: 20px;
  }
}
.history__title {
  margin-bottom: 33px;
}
@media (max-width: 767px) {
  .history__title {
    margin-bottom: 20px;
    text-align: center;
  }
}
.history__text p {
  margin-bottom: 25px;
  color: #0d0b0a;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .history__text p:last-child {
    margin: 0;
  }
}

.facts {
  background-color: #fef5ec;
  padding: 50px 0 20px 0;
}
@media (max-width: 767px) {
  .facts {
    padding: 20px 0;
  }
}
.facts__title {
  text-align: center;
  margin-bottom: 30px;
}
.facts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -8px;
}
.facts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 8px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .facts__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 20px;
  }
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}
@media (max-width: 480px) {
  .item__image {
    display: none;
  }
}
.item__image img {
  max-width: 100%;
}
.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 15px;
}
.item__title {
  color: #684a39;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 13px;
}
.item__text {
  color: #0d0b0a;
  font-size: 16px;
  line-height: 24px;
}

.standard {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .standard {
    padding: 20px 0;
  }
}
.standard__title {
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .standard__title {
    margin-bottom: 20px;
  }
}
.standard__body {
  max-width: 990px;
  margin: 0px auto;
}
.standard__body p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
}
.standard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -22.5px;
}
@media (max-width: 767px) {
  .standard__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.standard__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 22.5px;
}
@media (max-width: 767px) {
  .standard__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-bottom: 20px;
  }
  .standard__column:last-child {
    padding-bottom: 0;
  }
}
.standard__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
  background-color: #9f7f63;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #9f7f63;
}
.standard__subtitle {
  text-align: center;
  padding: 12px 0;
  font-size: 24px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .standard__subtitle {
    font-size: 20px;
  }
}
.standard__label {
  text-align: center;
  padding: 15px 0;
  background-color: #fff;
  color: #684a39;
  font-size: 40px;
}
@media (max-width: 767px) {
  .standard__label {
    font-size: 25px;
    padding: 10px 0;
  }
}
.standard__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
}
.standard__text p {
  margin-bottom: 15px;
}
.standard__text p:last-child {
  margin: 0;
}
.standard__btn {
  display: block;
  margin: 0px 30px;
  height: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 0px #684a39;
          box-shadow: 0 5px 0px #684a39;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  color: #684a39;
  font-size: 18px;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.standard__btn:hover {
  margin: 0px 20px;
  background-color: #fef5ec;
}

.footer {
  background-color: #fef5ec;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__text {
  color: #684a39;
  font-size: 12px;
  letter-spacing: 0.3px;
}