@import "nullstyle.scss";

$bgc_dark: #9f7f63;
$bgc_light: #fef5ec;
$titlecolor: #684a39;
$textcolor: #0d0b0a;

body {
	font-family: Arial, "Helvetica-Neue", Helvetica, sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 10px;
}
.content {
	flex: 1 1 auto;
}
.main {
	background-color: $bgc_dark;
	padding: 50px 0;
	@media (max-width: 767px) {
		padding: 20px 0;
	}
		&__row {
			display: flex;
			justify-content: space-between;
		}
		&__body {
			color: #fff;
			padding-right: 30px;
		}
		&__title {
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
			font-size: 60px;
			margin: 0px 0px 38px 0px;
			@media (max-width: 767px) {
				text-align: center;
			}
			@media (max-width: 480px) {
				font-size: 35px;
			}
		}
		&__list li {
			background: url('../../images/icons/icon.png') 0 1px no-repeat;
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
			font-size: 20px;
			line-height: 22px;
			padding-left: 35px;
			margin-bottom: 15px;
			@media (max-width: 767px) {
				background: url('../../images/icons/icon.png') 10px 1px no-repeat;
				padding-left: 45px;
			}
				&:last-child {
					margin: 0;
				}
		}
		&__image {
			max-width: 600px;
			@media (max-width: 767px) {
				display: none;
			}
			& img {
				max-width: 100%;
			}
		}
}

.title {
	color: $titlecolor;
	font-size: 30px;
	line-height: 36px;
}

.history {
	padding: 50px 0;
	@media (max-width: 767px) {
		padding: 20px 0;
	}
	&__row {
		display: flex;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__image {
		flex: 0 0 430px;
		@media (max-width: 767px) {
			flex: 1 1 auto;
			text-align: center;
		}
			& img {
				max-width: 100%;
			}
	}
	&__body {
		flex: 1 1 auto;
		padding-left: 38px;
		@media (max-width: 767px) {
			padding: 20px;
		}
	}
	&__title {
		margin-bottom: 33px;
		@media (max-width: 767px) {
			margin-bottom: 20px;
			text-align: center;
		}
	}
	&__text {
			& p {
				margin-bottom: 25px;
				color: $textcolor;
				font-size: 16px;
				line-height: 24px;
				@media (max-width: 767px) {
					&:last-child {
						margin: 0;
					}
				}
			}
	}
}

.facts {
	background-color: $bgc_light;
	padding: 50px 0 20px 0;
	@media (max-width: 767px) {
		padding: 20px 0;
	}
	&__title {
		text-align: center;
		margin-bottom: 30px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -8px;
	}
	&__column {
		flex: 0 1 50%;
		padding: 0px 8px;
		margin-bottom: 30px;
		@media (max-width: 767px) {
			flex: 1 1 auto;
			margin-bottom: 20px;
		}
	}
}
.item {
	&__row {
		display: flex;
	}
	&__image {
		flex: 0 0 200px;
		@media (max-width: 480px) {
			display: none;
		}
		& img {
			max-width: 100%;
		}
	}
	&__body {
		flex: 1 1 auto;
		padding-left: 15px;
	}
	&__title {
		color: $titlecolor;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 13px;
	}
	&__text {
		color: $textcolor;
		font-size: 16px;
		line-height: 24px;
	}
}

.standard {
	padding: 50px 0;
	@media (max-width: 767px) {
		padding: 20px 0;
	}
	&__title {
		text-align: center;
		margin-bottom: 30px;
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
	&__body {
		max-width: 990px;
		margin: 0px auto;
		& p {
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 15px;
		}
	}
	&__row {
		display: flex;
		margin: 0px -22.5px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__column {
		display: flex;
		flex: 0 1 33.333%;
		padding: 0px 22.5px;
		@media (max-width: 767px) {
			flex: 1 1 100%;
			padding-bottom: 20px;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
		background-color: $bgc_dark;
		color: #fff;
		border-radius: 5px;
		border: 1px solid $bgc_dark;
	}
	&__subtitle {
		text-align: center;
		padding: 12px 0;
		font-size: 24px;
		text-transform: uppercase;
		@media (max-width: 767px) {
			font-size: 20px;
		}
	}
	&__label {
		text-align: center;
		padding: 15px 0;
		background-color: #fff;
		color: $titlecolor;
		font-size: 40px;
		@media (max-width: 767px) {
			font-size: 25px;
			padding: 10px 0;
		}
	}
	&__text {
		flex: 1 1 auto;
		padding: 20px;
		font-size: 14px;
		line-height: 24px;
		& p {
			margin-bottom: 15px;
			&:last-child {
				margin: 0;
			}
		}
	}
	&__btn {
		display: block;
		margin: 0px 30px;
		height: 40px;
		background-color: #fff;
		box-shadow: 0 5px 0px $titlecolor;
		line-height: 40px;
		text-align: center;
		border-radius: 5px;
		color: $titlecolor;
		font-size: 18px;
		transition: all 0.25s linear 0s;
		&:hover{
			margin: 0px 20px;
			background-color: $bgc_light;
		}
	}
}

.footer {
	background-color: $bgc_light;
		&__row {
			display: flex;
			height: 65px;
			justify-content: center;
			align-items: center;
		}
		&__text {
			color: $titlecolor;
			font-size: 12px;
			letter-spacing: 0.3px;
		}
}
